.schedule {
  display: flex;
  margin-bottom: 50px;
  padding: 0;

  li {
    list-style: none;
    margin: -5px;

    a {
      background-color: #eee;
      border: solid #333 5px;
      padding: 15px 20px;
    }

    &.active a {
      background-color: #333;
      color: #fff;
    }
  }
}

.session {
  background-color: #eee;
}
