.proceedings {
  %margins {
    margin-bottom: 15px;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 17px;
    margin-bottom: 30px;
  }

  h3 {
    @extend %margins;
    font-size: 30px;
    font-weight: 700;
  }

  h4 {
    @extend %margins;
    font-size: 24px;
    font-weight: normal;
  }

  h5 {
    @extend %margins;
    font-weight: normal;
  }

  h6 {
    @extend %margins;
    font-weight: normal;
  }
}

.session-header {
  margin-bottom: 60px;
}

.session-archive {
  h2 {
    border-bottom: 1px solid $bootstrap-grey;
    color: $gray;
    font-size: 28px;
    padding-bottom: 20px;
  }

  h3 {
    //color: $gray;
    font-size: 25px;
    margin-bottom: 20px;
  }
}
