// compileExpanded: ../$1.css
$bootstrap-dark-grey: #636c72;
$bootstrap-grey: #ccc;
$gray: #333;
$holder: #eee;
$invert: #fff;
// Single Proceeding Styles //
@import '/Users/itre/ico.com/site/web/app/plugins/proceedings/styles/partials/single';

// Proceedings Archive Styles //
@import '/Users/itre/ico.com/site/web/app/plugins/proceedings/styles/partials/archive';
