.proceedings h3, .proceedings h4, .proceedings h5, .proceedings h6 {
  margin-bottom: 15px;
}

.proceedings h1 {
  margin-bottom: 20px;
}

.proceedings h2 {
  font-size: 17px;
  margin-bottom: 30px;
}

.proceedings h3 {
  font-size: 30px;
  font-weight: 700;
}

.proceedings h4 {
  font-size: 24px;
  font-weight: normal;
}

.proceedings h5 {
  font-weight: normal;
}

.proceedings h6 {
  font-weight: normal;
}

.schedule {
  display: flex;
  margin-bottom: 50px;
  padding: 0;
}

.schedule li {
  list-style: none;
  margin: 0 0 0 -5px;
  padding: 15px 3px;
}

.schedule li::first-child {
  margin-left: 0;
}

.schedule li a {
  background-color: #fff;
  padding: 15px 20px;
}

.schedule li a:hover {
  background-color: inherit;
  color: #fff;
}

.schedule li.active a {
  background-color: inherit;
  color: #fff;
}

.session .title {
  align-items: baseline;
  display: flex;
  margin-bottom: 10px;
}

.session .title h1 {
  flex: 3;
  font-size: 23px;
  font-weight: 400;
  margin-bottom: 0;
  padding: 10px;
}

.session .title .availability {
  flex: 1;
  font-weight: 200;
}

.session h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.session p {
  margin-bottom: 30px;
}

.session .presentation {
  padding: 0 3px;
}
